@tailwind base;
@tailwind components;
@tailwind utilities;

.action-bar {
    background-color: #9333ea;
    color: black;
}

.btn {
    color: black;
    background-color: #9333ea;
    border-radius: 0.5rem;
    padding: 8 16;
    margin: 4;
}

.btn-secondary {
    background-color: #e9d5ff;
}

.text-black {
    color: black;
}